<div class="md-title">
    Sell
</div>
<div class="md-content product-form">
    <div class="product-image">
        <div class="product-image-input">
            <button class="btn-upload">
                <i class="icon-camera"></i>
            </button>
            <input id="newProductImage" type="file" capture="camera" accept="image/*">
        </div>
        <div class="product-image-thumbnail">
            <img src="http://matthewsmodelmarine.files.wordpress.com/2013/01/a_7211.jpg" />
        </div>
    </div>
    <div class="product-details">
        <div class="product-details-row">
            <textarea id="inputProductDescription" placeholder="Enter a description"></textarea>
        </div>
        <div class="product-details-row">
            <input id="inputProductPrice" placeholder="Enter a price" type="text" />
        </div>
    </div>
    <input id="inputProductImageUrl" type="hidden" />
</div>
<div class="md-actions">
    <button data-modal-cancel>Cancel</button>
    <button data-upload-submit>Sell</button>
</div>
