<div class="window-body">
    <div class="window-header">
        <div class="window-title">Sign in</div>
        <div class="window-close">
            <i class="icon-remove"></i>
        </div>
    </div>
    <div class="window-content">
        <button class="btn btn-primary btn-block window-login-facebook">Sign in with facebook</button>
        <p style="text-align:center;margin-top:10px;margin-bottom:10px;">or</p>
        <div class="window-form">
            <div class="window-form-row">
                <input id="window-login-email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
                <i class="icon-male"></i> 
            </div>
            <div class="window-form-row">
                <input id="window-login-password" type="password" class="form-control" id="exampleInputEmail1" placeholder="Enter password" />
                <i class="icon-key"></i> 
            </div>
        </div>
        <button id="window-login-submit" class="btn btn-primary btn-block">Sign in</button>
    </div>
</div>
