<div class="window-body">
    <div class="window-header">
        <div class="window-title"><i class="icon-plus"></i> New Product</div>
        <div class="window-close">
            <i class="icon-remove"></i>
        </div>
    </div>
    <div class="window-content">
        <div class="window-form">
            <div class="window-form-row">
                <textarea id="window-upload-description" placeholder="Enter a description"></textarea>
                <i class="icon-pencil"></i> 
            </div>
            <div class="window-form-row">
                <input type="text" placeholder="Brand" />
                <i class="icon-tag"></i> 
            </div>            
            <div class="window-form-row">
                <input type="text" placeholder="Price" />
                <i class="icon-tag"></i> 
            </div>
            <div class="window-form-row">
                <input type="text" placeholder="Size" />
                <i class="icon-tag"></i> 
            </div>
            <div class="window-form-row">
                <select>
                    <option>Condition</option>
                    <option>Used</option>
                    <option>New</option>
                </select>
                <i class="icon-tag"></i> 
            </div>
            <div class="window-form-row">
                <select>
                    <option>Category</option>
                    <option>Fashion</option>
                </select>
                <i class="icon-tag"></i> 
            </div>            
        </div>
        <button id="window-upload-submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</div>
